<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <title>Contact</title>
  
</head>

<body style="background-color: #ffffff">
    
  <nav class="navbar navbar-expand-lg  ">
    <div class="logo">
        <a href="#"> <img src="../static/images/log.jpg" height=50px width=48px></a>
       </div>
    <a class="navbar-brand" href="#">Around the World</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="bi bi-people-fill"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-telephone-outbound"></i> Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Login/Signup</a>
        </li>
      </ul>
    </div>
  </nav>




    <div class="container">
    <div class="row">
      <div class="col-md-7" id="contact_details">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.781904575754!2d77.73192521474051!3d12.98579669084655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11e550af2da7%3A0x1bb3c14cdd24880c!2sNavigator%20Building%2C%20Navigator%20building%2C%20ITPL%2C%20Pattandur%20Agrahara%20Main%20Rd%2C%20Whitefield%2C%20Pattandur%20Agrahara%2C%20Bengaluru%2C%20Karnataka%20560066!5e0!3m2!1sen!2sin!4v1676183868204!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
      </div>
      <div class="col-md-1">

      </div>
            <div class="col-md-4" id="contact_content">
                <h2>Contact Details</h2>
                    <ul type="none"> 
                      <li><i class="bi bi-telephone"></i> Phone: xxxxxxxxxx</li>
                      <li><i class="bi bi-envelope"></i> E-mail: info@sabre.com</li>
                      <li><i class="bi bi-geo-alt"></i> Address: Navigator Building, Whitefield, Bangalore</li>
          
                  </ul>
            </div>
    </div>
    </div>
    
















  <footer class="custom-footer py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <a href="#"> <img src="../static/images/log.jpg" height=200px width=180px></a>
        </div>
        <div class="col-md-3">
          <h3>Pages</h3>
          <ul class="list-unstyled">
            <li><a href="/"><i class="bi bi-house"></i> Home</a></li>
            <li><a href="/about"><i class="bi bi-people-fill"></i> About</a></li>
            <li><a href="#"><i class="bi bi-telephone-outbound"></i> Contact</a></li>
            <li><a href="/login"><i class="bi bi-box-arrow-in-right"></i> Login/Signup</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Contact</h3>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone"></i> Phone: xxxxxxxxxx</li>
              <li><i class="bi bi-envelope"></i> E-mail: info@sabre.com</li>
              <li><i class="bi bi-geo-alt"></i> Address: Navigator Building, Whitefield, Bangalore</li>
  
          </ul>
        </div>
        
      </div>
      <hr>
      <p class="text-center">&copy; 2023 Around the World</p>
    </div>
  </footer>
  
  <script>

  </script>
</body>

</html>