<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <title>Home</title>
  
</head>

<body class="homebck">
    
  <nav class="navbar navbar-expand-lg  ">
    <div class="logo">
        <a href="#"> <img src="../static/images/log.jpg" height=50px width=48px></a>
       </div>
    <a class="navbar-brand" href="#">Around the World</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="bi bi-people-fill"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="bi bi-telephone-outbound"></i> Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Login/Signup</a>
        </li>
      </ul>
    </div>
  </nav>




  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8" id="home_log">
        <div class="alpha">
        <p id="sentence">Hey Frugal, where would you like to travel.</p></div>
        <a href="#"> <img src="../static/images/log.jpg" height=75% width=50%></a><br>
        <a href="/cost"><button class="button button1 " style="font-size:25px">Estimate your trip expenses </button></a>
        <a href="/more"><button class="button button1 " style="margin-left:10px;font-size:25px">Check where you can go </button></a>
      </div>
        
      <div class="col-md-2">
      </div>
    </div>
  </div>


















  <footer class="custom-footer py-1">
    <div class="container">
      <p class="text-center">&copy; 2023 Around the World</p>
    </div>
  </footer>
  
  <script>
    function animateSentence() {
    var sentence = document.getElementById("sentence");
    var letters = sentence.innerHTML.split("");
    sentence.innerHTML = "";
    letters.forEach(function(letter) {
      var span = document.createElement("span");
      span.innerHTML = letter == " " ? "&nbsp;" : letter;
      sentence.appendChild(span);
    });
    var i = 0;
    var interval = setInterval(function() {
      sentence.children[i].style.opacity = 1;
      i++;
      if (i >= letters.length) {
        clearInterval(interval);
        setTimeout(function() {
          sentence.innerHTML = "Hey Frugal, where would you like to travel.";
          animateSentence();
        }, 1000);
      }
    }, 80);
  }
  animateSentence();
  </script>
</body>

</html>